@font-face {
  font-family: "Lobster";
  src: local("Lobster"),
    url("../fonts/Lobster.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
    font-family: "Girassol";
    src: url("../fonts/Girassol.ttf") format("truetype");
}